{#
/**
 * @file
 * Theme implementation to display "Contact author" block.
 *
 * Available variables:
 * - url: address of the contact form of a node's author.
 * - label: label of the link (title of the "Contact author" block).
 */
#}

<a href="{{ url }}" class="use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options={"width":"30%"}>{{ label }}</a>